<div class="container mt-4">
    <h2>Formulário</h2>
    
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
      <div class="mb-3">
        <label for="valorInicial" class="form-label">Campo 1</label>
        <input type="text" id="valorInicial" class="form-control" formControlName="valorInicial">
      </div>
  
      <div class="mb-3">
        <label for="meses" class="form-label">Campo 2</label>
        <input type="number" id="meses" class="form-control" formControlName="meses">
      </div>
  
      <button type="submit" class="btn btn-primary">Calcular valores</button>
    </form>
  
    <div *ngIf="resposta" class="mt-4">
      <h4>Resposta da API:</h4>
      <pre>{{ resposta | json }}</pre>
    </div>
  </div>
  